<launch> 
    <!-- Launch console controler -->
    <node pkg="racecar_simulator" type="racecar_teleop_key.py" name="racecar_teleop_keyboard"  output="screen"></node>

    <!-- Launch collision detector -->
    <node pkg="racecar_simulator" type="collision_detector.py" name="collision_detector"  output="screen"></node>
  </launch>