<launch>
  <!-- Launch a map from the maps folder-->
  <arg name="map" default="$(find racecar_simulator)/maps/stata_basement.yaml"/>
  <node pkg="map_server" name="map_server" type="map_server" args="$(arg map)"/>

  <!-- Launch state graph visualizator -->
  <node pkg="racecar_simulator" name="state_graph" type="state_graph.py" output="screen"></node>

  <!-- Launch rviz -->
  <node type="rviz" name="rviz" pkg="rviz" args="-d $(find racecar_simulator)/rviz/ts_config.rviz" />

  <!-- Launch the racecar model -->
  <include file="$(find racecar_simulator)/launch/racecar_model.launch"/>

  <!-- Begin the simulator with the parameters from params.yaml -->
  <node pkg="racecar_simulator" name="racecar_simulator" type="simulate" output="screen">
    <rosparam command="load" file="$(find racecar_simulator)/config/params.yaml"/>
  </node>
</launch>
